

#app main{display: flex; width: 800px; margin: 0 auto; padding: 90px 0; flex-direction: column; gap: 85px;}

.category_title{display: flex; width: 100%; flex-direction: column; justify-content: center; align-items: center;}
.category_title h2{text-align: center; font-size: 40px;}
.category_title p{font-size: 15px;}

.place_container{display: flex; flex-direction: column; gap: 60px;}
.place_container .place_item{position: relative; width: 100%; height: 400px; cursor: pointer; transition: all .3s;}
.place_container .place_item .text{position: absolute; display: flex; width: 450px; height: 250px; padding: 10px 20px; top: 50%; left: -90px; transform: translateY(-50%); justify-content: space-between; z-index: 1;}
.place_container .place_item .text_back{position: absolute; width: 450px; height: 250px; transition: all .3s; background-color: #fff; top: 50%; left: -90px; transform: translateY(-50%); z-index: 0;}
.place_container .place_item .text .place_info{display: flex; flex-direction: column; justify-content: center; gap: 8px;}
.place_container .place_item .text .place_info .name{font-size: 28px;}
.place_container .place_item .text .place_info .address{font-size: 15px;}
.place_container .place_item .text .arrow_btn{width: 60px; margin-right: 20px; transition: all .3s;}
.place_container .place_item .text .arrow_btn img{width: 100%; object-fit: contain;}
.place_container .place_item:hover .text_back{height: 100%;}
.place_container .place_item:hover .arrow_btn{margin: 0;}
















