
#app main{display: flex; width: 800px; margin: 0 auto; padding: 70px 0; flex-direction: column; gap: 85px;}


.category_title{width: 100%; text-align: center; margin-bottom: 40px; cursor: pointer; transition: all .3s;}
.category_title:hover{transform: scale(1.05);}

.category_container{display: grid; width: 600px; margin: 0 auto; grid-template-columns: repeat(3, 1fr); gap: 40px; place-items: center;}
.category_container .category{display: flex; width: 155px; height: 155px; padding: 35px; flex-direction: column; align-items: center; justify-content: center; gap: 15px; cursor: pointer; transition: all .3s; border-radius: 15px;}
.category_container .category:hover{background-color: #eee;}
.category_container .category img{width: 100%; object-fit: contain;}

.banner_container{width: 80%; height: 230px; margin: 0 auto; overflow: hidden;}
.banner_container ul{display: flex; width: 400%; height: 100%; animation: banner_slide 9s infinite linear;}
.banner_container ul li{flex: 1;}
.banner_container ul li img{object-fit: cover;}



@keyframes banner_slide {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}
    33.3%{margin-left: -100%;}
    63.3%{margin-left: -100%;}
    66.66%{margin-left: -200%;}
    96.66%{margin-left: -200%;}
    99.999999%{margin-left: -300%;}
    100%{margin-left: 0%;}
}

